flows/LookupAndAssign-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>IsZipcodePresent</name>
        <label>IsZipcodePresent?</label>
        <locationX>208</locationX>
        <locationY>260</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ZipCodeIsPresentOnAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarAccountZipCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupMMIBranchLookupTable</targetReference>
            </connector>
            <label>ZipcodePresent</label>
        </rules>
        <rules>
            <name>IndustryPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarAccountIndustry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>IndustryPresent</label>
        </rules>
    </decisions>
    <interviewLabel>LookupAndAssign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LookupAndAssign</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AddAccountTeamMember</name>
        <label>AddAccountTeamMember</label>
        <locationX>233</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>CreateAccountShare</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Sales Rep</stringValue>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>CreateAccountShare</name>
        <label>CreateAccountShare</label>
        <locationX>254</locationX>
        <locationY>602</locationY>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Team</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>SVarUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AccountShare</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>123</locationX>
        <locationY>99</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsZipcodePresent</targetReference>
        </connector>
        <filters>
            <field>AccountSource</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>VarAccountZipCode</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarAccountIndustry</assignToReference>
            <field>Industry</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupMMIBranchLookupTable</name>
        <label>LookupMMIBranchLookupTable</label>
        <locationX>216</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddAccountTeamMember</targetReference>
        </connector>
        <filters>
            <field>Zipcode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAccountZipCode</elementReference>
            </value>
        </filters>
        <object>MMI_Branch_Lookup__c</object>
        <outputAssignments>
            <assignToReference>SVarUser.Id</assignToReference>
            <field>MMI_Territory_Owner__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_Account</startElementReference>
    <variables>
        <name>SVarUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>VarAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarAccountIndustry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarAccountZipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
